endpoints:
    rest: /api
    authenticate: /auth

security:
    authenication_mode: jwt_token  # jwt_token | bolt_native (native bolt cookie)
    secret_key: changeMe # important
    token_prefix: Bearer
    request_header_name: Authorization
    token_lifetime: 3600
    token_lifetime_max: 5000 # comming soon
    username_param: username # comming soon
    password_param: password # comming soon
    response_header_name: X-Access-Token
    algoritm: HS256;

cors:
    enabled: true
    allow-origin: '*'

# not implemented yet
rest:
    all:
        response-media: ['*'] # accept header
        request-media:  ['*'] # content-type header

    index:
        order: true
        where: true
        filter: true
        anonymous: true 
        enabled: true

    retrieve:
        anonymous: true 
        enabled: true

    create:
        enabled: true

    update:
        enabled: true 

# deprecated: enable where, filter and order by url parameter
params: true