# paths
endpoints:
    rest: '/api'
    authenticate: '/auth'

security:
    providers: [jwt]    
    # json web tokens configurations
    jwt:
        secret: IamASecretKeyChangeMePlease
        prefix: Bearer
        lifetime: 36000
        user_param: username
        pass_param: password
        request_header_name: Authorization
        response_header_name: X-Access-Token    
        algoritm: HS256 # HS256 or HS512 or HS384 or RS256

# cross-origin resourse sharing
cors:
    enabled: true
    allow-origin: '*'

delete:
    soft: true
    status: 'held'

only_published: true

# media types in request and responses
media:
    accept: '*'
    content-type: '*'

# enable / disable where, order, filter
params: true


default-options:
    sort: "-datechanged"

filter-fields-available: ['status', 'type', 'issue', 'datepublish', 'contain']