# paths
endpoints:
    rest: '/api'
    authenticate: '/auth'

security:
    providers: [jwt]
    # json web tokens configurations
    jwt:
        secret: IamASecretKeyChangeMePlease
        prefix: Bearer
        lifetime: 36000
        user_param: username
        pass_param: password
        request_header_name: Authorization
        response_header_name: X-Access-Token    
        algoritm: HS256 # HS256 or HS512 or HS384 or RS256

# cross-origin resourse sharing
cors:
    enabled: true
    allow-origin: '*'

# cross-origin resourse sharing
delete:
    soft: true
    status: 'draft'

only_published: true

# media types in request and responses
media:
    accept: '*'
    content-type: '*'

# enable / disable where, order, filter
params: true

# ========================================================= #
#         options that have not yet implemented             #
# ========================================================= #
#
# contenttypes:
#     all:
#         options:
#             limit: 10
#             default: published    
#         index:
#             # all fields: all
#             # one specific related field pages: title
#             # more the one specific related fields: [title, slug, teaser, image]
#             fields: all
#             # all related content type: all
#             # single specific related content type: pages
#             # multiple specific related content type: [pages, entries]
#             related: all            
#             enabled: true
#             where: true
#             filter: true
#             order: true
#             page: true
#         retrieve:
#             fields: all
#             related: all
#             enabled: true
#         create:
#             fields: all
#             enabled: true
#         update:
#             fields: all
#             enabled: true

